#div1{
	overflow: hidden;
}
.div1{
	height: 470px;
	width:830px;
	border:1px solid #000;
	margin: 0px auto;
	z-index: 5;
	opacity: 1;
}
#div1 .div2{
	height: 470px;
	width:207.5px;
	background: url('../images/1.jpg') no-repeat 100% 100%;
}
#div1 .div3{
	height: 470px;
	width:207.5px;
		background: url('../images/2.jpg') no-repeat 50% 50%;
	}
#div1 .div4{
	height: 470px;
	width:207.5px;
		background: url('../images/3.jpg') no-repeat 50% 50%;
}
#div1 .div5{
	height: 470px;
	width:207.5px;
	background: url('../images/4.jpg') no-repeat 50% 50%;
}
#div1 div{
	float: left;
}
#div1 .div6{
	height: 470px;
	width: 207.5px;
background: #999;
opacity: .5;
}
#div1 .div7{
	height: 470px;
	width: 207.5px;
background: #999;
opacity: .5;
}
#div1 .div8{
	height: 470px;
	width: 207.5px;
background: #999;
opacity: .5;
}
#div1 .div9{
	height: 470px;
	width:207.5px;
background: #999;
opacity: .5;
}

#div1 p{
	color: #fff;
	text-align: center;
	line-height: 350px;
	font-size: 50px;
}
#div1 img{
	height: 470px;
	width: 500px;
	padding: 0;
	margin: 0;
	float: left;
	opacity: 1;
}
.div10{
	transition: 0.5s linear;
}


/* .img1{
	display: block;
} */
/* .p1{
display: none;
}
.div2{
	height: 400px;
	width:0px;
	background: url('../images/1.jpg') no-repeat 50% 50%;
}
其余几个150

.div6{
	height: 400px;
	width: 0px;
background: #999;
opacity: .5;
}
其余几个款150 */
